*faceName: Iosevka Term
*faceSize: 8
*font: xft:Iosevka Term-10:Medium
*boldFont: xft:Iosevka Term-10:Regular
*.cursorColor: #466196
*.scrollBar: false
!URxvt.letterSpace: -1
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true


!sets the background to black and foreground to white for other terminals relying on Xresources
*background: #292929
*foreground: #7199c6

! black
*color0: #404040
*color8: #2d3033
! red
*color1: #be7b7c
*color9: #b45049
! green
*color2: #b3ac6c
*color10: #4e5531
! yellow
*color3: #e0ac52
*color11: #c78143
! blue
*color4: #466196
*color12: #374567
! magenta
*color5: #9d8d9e
*color13: #6e646e
! cyan
*color6: #a7c1d2
*color14: #7199c6
! white
*color7: #c1cfda
*color15: #8c8571
! underline when default
*colorUL: #c78143
! vim: set ft=xdefaults:
